# ====================================================================
# CONFIGURACIÓN DE GITIGNORE - TFG YOUSSEF ABDERRAHMANI
# ====================================================================

# --- Caché y archivos temporales de Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
src/__pycache__/

# --- Residuos de compilación local (Cython / C) ---
build/
src/build/
*.c
!src/strategy.c

# --- DATOS HISTÓRICOS Y ARREGLOS MASIVOS (Ocultar ventaja) ---
*.csv
HISTDATA*
data/
trades_individual/

# --- PROPIEDAD INTELECTUAL (Pesos de la IA y Escaladores) ---
#*.keras
#*.pkl
#*.h5
#src/*.keras
#src/*.pkl

# --- Logs y Resultados de ejecuciones locales ---
results/

# --- Documentación privada ---
README.md